@model List<OrderDetail>

<table>
    <thead>
        <tr>
            <th>Sipariş No  </th>
            <th>Sipariş Saati</th>
            <th>Müşteri</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orderDetail in Model)
        {
            <tr>
                <td>@orderDetail.OrderId</td>
                <td>@orderDetail.Order.OrderDate</td>
                <td>@orderDetail.Order.Customer.ContactName @*order tablosundan müşteri tablosu getirilecek ve müşteri adı çekilecek*@</td>
                <td>
                    <a asp-action="Products" asp-route-orderId="@orderDetail.OrderId">Ürünler</a> 
                    
                </td>
            </tr>
        }
    </tbody>
</table>