@model List<OrderDetail>

<table>
        <tr>
            <th>Sipariş No  </th>
            <th>|</th>
            <th>Sipariş Saati</th>
            <th>|</th>
            <th>Müşteri</th>
            <th></th>
        </tr>
        @foreach (var orderDetail in Model)
        {
            <tr>
                <td>@orderDetail.OrderId</td>
                <td>|</td>
                <td>@orderDetail.Order.OrderDate</td>
                <td>|</td>

                <td>@orderDetail.Order.Customer.ContactName @*order tablosundan müşteri tablosu getirilecek ve müşteri adı çekilecek*@</td>
                <td>
                    <a asp-action="Products" asp-route-orderId="@orderDetail.OrderId">Ürünler</a> 
                    
                </td>
            </tr>
        }
</table>