@using Odev.ViewModel;
@model List<ProductsViewModel>

<table class="table table-striped">
    <h3>Ürünler</h3
        <tr>
            <th>Ürün Adı</th>
            <th>|</th>
            <th>Ürün Miktarı</th>
            <th></th>
        </tr>
        @foreach (var productview in Model)
        {
            <tr>
                <td>@productview.ProductName </td>
                <td> | </td>
                <td>@productview.Quantity </td>
            </tr>
        }
</table>